body{
    padding:0px;
    
}
p{
  color:black;
  font-weight: bolder;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:pink;
  padding:10px 20px;
  color: black;
  }
  
  .navbar .logo {
    font-size: 24px;
    color: #007bff;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #007bff;
  }
  
  /* Hamburger styles */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background:red;
    transition: 0.3s;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #444;
      position: absolute;
      top: 60px;
      right: 0;
      width: 200px;
      padding: 10px;
    }
  
    .nav-links.active {
      display: flex;
    }
  }
    .nav-links a:hover {
      color: #007bff;
    }
  .navbar a::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: rgb(255, 178, 34);
      margin-top: 5px;
  }
  .navbar a:hover::after{
      width: 100%;
  }
  
   .header{
    text-align: center;
    color:maroon;
   }
  .home{
    display:flex;

     }
     .leftcontent{
     border:2px,solid,rgb(194, 2, 34);
     padding: 20px;
     text-align: center;
 }
     .rightcontent{
      padding: 20px;
     }
     img{
      height:100%;
      width:100%;
     }
     .form{
      border:2px,block,black;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
     }
     .contact{
      text-align: center;
     }
.button{
  background-color: rgb(136, 136, 136);
  color: rgb(38, 228, 38);
  width:100px;
}
.input{
width:400px;
}
.footer{
  margin-top: 30px;
  background-color:black;
  text-align: center;
  padding: 10px;
}
.name{
  color: white;
  size:20px;
}
.link{
  text-decoration: none;
  color: rgb(167, 50, 7);
}
footer a:hover{
color: rgb(228, 23, 57);
}
.project-layout{
  display:flex;
 
 justify-content: center;
 gap: 15px;
 flex-wrap: wrap;
  }
  .project-card{
    padding: 20px;
width: 250px;
height:100%;
background-color: gainsboro;
  }
  .project-card:hover{
   
background-color: rgb(233, 169, 169);
  }
.lav{/*abt me ko pic*/
    border-radius: 50%;
    height:200px ;
    width:200px ;
    
}
.special{
    display: flex;
}
.card{
  padding: 10px;
  height: 100px;
  width: 150px;
}
.card :hover{
  background-color: #8d3c3c
 ;
}
.sd{
  text-align: center;
  background-color: #05cece;
  padding: 50px;
}
